body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header, main { 
    display: inline-block;
    width:800px; 
    margin-left: calc(50% - 400px);
}

img {
    height: 46px;
    float: left;
    
}

nav {
    float: right;
    margin-top: 13px
    
}

a{
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    line-height: 20px;
    margin-left: 20px;
    color: black
}

main {
    margin-top: 100px;
    background-color: orange;
}